* {
    margin:0;
    padding: 0;
}


.gallery{
    margin: 10px 50px;
    display: inline;
}

.gallery img{
    height: 400px;
    padding: 5px;
    transition: 1s;
}

.gallery img:hover{
    transform: scale(1.1);
}

.header{
    width: 100%;
    height: 150px;
    display: block;
    background-color: #2E5266;
}

.inner_header{
    width: 1290px;
    height: 100%;
    display: block;
    margin: 0 auto;
   /*background-color: red;*/
}

.navigation{
    float: right;
    height: 100%;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px; 
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montaga', serif;
    font-size: 16px;
    font-weight: bold;

}

.navigation li a:hover{
    color: #E2C044;
}

html, body {
   height: 100%;
   background-color: white;
}

#content {
    min-height: 100%;
    display: block;  
}

#main{
    overflow: auto;
    padding-bottom: 100px;
    /*background-color: #D3D0CB;*/
    display: block;
    margin-left: 200px;
    margin-right: 200px; 
    font-family: 'Montaga', serif;
}

#footer{
    height: 100px;
    background-color: #E2C044;
    position: relative;
    margin-top: -100px;
    clear: both;

}

.inner_footer{
    height: 100%;
    /*background-color: red;*/
    width: 1290px;
    /*display: block;*/
    margin: 0 auto;
    
    display: table;

}

.welcomePhoto img{
    width: 100%;  
    display: block;
    margin-top: 20px;
}


#content h1{
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Montaga', serif;
    color:black;
    font-size: 50px;
}


.p-welcome{
    color:black;
    font-family: 'Montaga', serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.p-content{
    color:black;
    text-align: right;
    margin-top: 50px;   
    margin-left: 400px; 
}


.project_description{
    display: table-cell;
    vertical-align: bottom;
    padding-right: 100px;
    text-align: justify;
    padding-bottom: 40px;
}

.project_description::first-line{
    font-weight: bold;
    font-size: 20px;
}

.project_article{
    display: table;
}

.project_article img{
    width: 400px;
    padding-bottom: 30px;
    
}

.contact_form{
    display: block;
    margin:0 auto;
    text-align: left;
    z-index: 2;
    opacity: 1;
    
}

.contact_form input {
    width: 300px;
}



h3{
    color: white;
    text-align: left;
    font-size: 50px;

}

.contact_background {  
    background-image: url("photos/phone-small1610190_1920.jpg");
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    margin-bottom: 30px;  
}

.table {
    margin-left: 500px;
    margin-top: 10px;
}

.table td {
    text-align: center;
    font-size: 13px;
}

.table td img:hover {
    filter: grayscale(100%);
}











